@model sys.Models.ChangePasswordViewModel
@{
    
    ViewBag.Title = "Settings";
}

<div class="row my-4">
    <div class="col-lg-7 col-12">
        <div class="custom-block bg-white">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-pane" type="button" role="tab" aria-controls="profile-pane" aria-selected="false">
                        Profile
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="password-tab" data-bs-toggle="tab" data-bs-target="#password-pane" type="button" role="tab" aria-controls="password-pane" aria-selected="true">
                        Password
                    </button>
                </li>
            </ul>

            <div class="tab-content p-3" id="myTabContent">
                <div class="tab-pane fade" id="profile-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    <!-- Profile settings go here -->
                </div>

                <div class="tab-pane fade show active" id="password-pane" role="tabpanel" aria-labelledby="password-tab" tabindex="0">
                    <h6 class="mb-4">Change Password</h6>
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "custom-form password-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <input type="password" name="OldPassword" class="form-control mb-3" placeholder="Current Password" required />
                        <input type="password" name="NewPassword" class="form-control mb-3" placeholder="New Password" required />
                        <input type="password" name="ConfirmPassword" class="form-control mb-4" placeholder="Confirm Password" required />

                        <div class="d-flex">
                            <button type="reset" class="form-control me-3">Reset</button>
                            <button type="submit" class="form-control ms-2">Update Password</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
